<%- include('../partials/header', {title:"Saved Readings"}) -%>

<h2>Previous Readings</h2>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Sun sign
    </th>
    <th>
      Card drawn
    </th>
    <th>
      Positivity of readings
    </th>
    <th>
      Emotional outlook
    </th>
  </tr>
  <%for(let i =0; i<readings.length; i++){%>

    <% let totalPositivity = 0; %>
    <% let numberOfCards = 0; %>
    <% readings[i].card.forEach(function(currentValue, index){ %>
    <% totalPositivity += tarots[currentValue].Positivity; %>
    <% numberOfCards += 1; %>
    <% }) %>
    <% let posAdjustment; %>
    <% if (readings[i].sign == "Cancer" && totalPositivity/numberOfCards > 15){ %>
      <% posAdjustment = 15; %>
    <% } else if (readings[i].sign == "Gemini" && totalPositivity/numberOfCards > 20){ %>
      <% posAdjustment = 20; %>
    <% } else if (readings[i].sign == "Scorpio" && totalPositivity/numberOfCards > 30){ %>
      <% posAdjustment = 30; %>
    <% } else if (readings[i].sign == "Sagittarius" && totalPositivity/numberOfCards < 90){ %>
      <% posAdjustment = -10; %>
    <% }else { %>
      <% posAdjustment = 0; %>
    <% } %>


  <tr>
  <th>
    <a href="/user/<%=users[readings[i].name].name%>"><%=users[readings[i].name].name%></a>
  </th>
  <th>
    <%=readings[i].sign%>
  </th>
  <th>
    <%=readings[i].card.join(" & ")%>
  </th>
  <th>
    <%=Math.round(totalPositivity/numberOfCards)-posAdjustment%>
  </th>
  <th>
    <%=readings[i].emotion.join(" & ")%>
  </th>
  </tr>
  <%}%>
</table>
<br>

  <%- include('partials/footer') -%>
