<%- include('partials/header', {title:"Saved Readings"}) -%>

<h2>Previous Readings</h2>
<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Birthday
    </th>
    <th>
      Sun sign
    </th>
    <th>
      Moon sign
    </th>
    <th>
      Rising sign
    </th>
    <th>
      Card drawn
    </th>
    <th>
      Positivity of readings
    </th>
  </tr>
  <%for(let i =0; i<readings.length; i++){%>

    <% let totalPositivity = 0; %>
    <% let numberOfCards = 0; %>
    <% readings[i].card.forEach(function(currentValue, index){ %>
    <% totalPositivity += tarots[currentValue].Positivity; %>
    <% numberOfCards += 1; %>
    <% }) %>
  <tr>
  <th>
    <a href="/user/<%=users[readings[i].name].name%>"><%=users[readings[i].name].name%></a>
  </th>
  <th>
    <%=users[readings[i].name].birthday%>
  </th>
  <th>
    <%=users[readings[i].name].sunSign%>
  </th>
  <th>
    <%=users[readings[i].name].moonSign%>
  </th>
  <th>
    <%=users[readings[i].name].risingSign%>
  </th>
  <th>
    <%=readings[i].card%>
  </th>
  <th>
    <%=Math.round(totalPositivity/numberOfCards)%>
  </th>
  </tr>
  <%}%>
</table>
<br>

  <%- include('partials/footer') -%>
