<%- include('partials/header', {title:"Saved Readings"}) -%>

<h2>Previous Readings</h2>
<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Birthday
    </th>
    <th>
      Sun sign
    </th>
    <th>
      Moon sign
    </th>
    <th>
      Rising sign
    </th>
  </tr>
  <%for(let i =0; i<users.length; i++){%>
  <th>
    <a href="/user/<%=users[i].name%>"><%=users[i].name%></a>
  </th>
  <th>
    <%=users[i].birthday%>
  </th>
  <th>
    <%=users[i].sunSign%>
  </th>
  <th>
    <%=users[i].moonSign%>
  </th>
  <th>
    <%=users[i].risingSign%>
  </th>
  </tr>
  <%}%>
</table>
<br>

  <%- include('partials/footer') -%>
