<%- include('partials/header', {title:"P, R, S: High Scores"}) -%>

<h2>Previous Readings</h2>
<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Wins
    </th>
    <th>
      Losses
    </th>
    <th>
      Ties
    </th>
    <th>
      Win %
    </th>
  </tr>
  <%for(let i =0; i<users.length; i++){%>
  <th>
    <a href="/user/<%=users[i].name%>"><%=users[i].name%></a>
  </th>
  <th>
    <%=users[i].birthday%>
  </th>
  <th>
    <%=users[i].sunSign%>
  </th>
  <th>
    <%=users[i].moonSign%>
  </th>
  <th>
    <%=users[i].risingSign%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
