<%- include('partials/header', {title:"Drawing Tarot Cards"}) -%>
<h2><%= randomCard %> Tarot Card Drawn!</h2>
   <img id="tarotimg" src = "<%=tarotCards[randomCard].Photo%>" height="400">
   <div id = "tarotBoxes">
   <p> Meaning of <%= randomCard %>: <%=tarotCards[randomCard].Meaning%></p>
   </div>
   <div id = "tarotBoxes">
   <p> Keywords: <%=tarotCards[randomCard].Keywords.join(", ")%></p>
   </div>
<br>

<div id="claim">
<form action="/tarot" method="POST">
  <body>How do you feel about your fortune? </body>
  <label for="emotion"> </label>
  <select name="emotion" id="emotion">
    <option value="excitement">Excited</option>
    <option value="joy">Joyous</option>
    <option value="fear">Fearful</option>
    <option value="depression">Depressed</option>
    <option value="anxiety">Anxious</option>
    <option value="goddess-like">Freedom</option>
    <option value="goddess-like">Privacy</option>
    <option value="goddess-like">Honesty</option>
    <option value="goddess-like">Like you're christopher wilde, and I'm just an ordinary girl</option>
    <option value="goddess-like">That's feel really sick!</option>
    <option value="goddess-like">Goddess-like</option>
  </select>
  <br>
  <label for="name"> I, </label>
  <select name="name" id="name">
    <%for(i in users){%>
    <option value="<%= i %>"><%= i %></option>
    <% } %>
  </select>
  <body>, hereby and forevermore choose to</body>
  <input type="submit" value="claim this future.">

</form>
</div>
<br>

<%- include('partials/footer') -%>
