<%- include('partials/header', {title:"Drawing Tarot Cards"}) -%>
<h2><%= randomCard %> Tarot Card Drawn!</h2>
<div id="tarotDiv">
   <img id="tarotimg" src = "<%=tarotCards[randomCard].Photo%>" height="400">
   <div id = "tarotBoxes">
   <p> Meaning of <%= randomCard %>: <%=tarotCards[randomCard].Meaning%></p>
   </div>
   <div id = "tarotBoxes">
   <p> Keywords: <%=tarotCards[randomCard].Keywords.join(", ")%></p>
   </div>
<br>

<div id="claim">
<form action="/tarot" method="POST">
  <body>How do you feel about your fortune? </body>
  <label for="emotion"> </label>
  <select name="emotion" id="emotion">
    <option value="Excitement">Excited</option>
    <option value="Joy">Joyous</option>
    <option value="Fear">Fearful</option>
    <option value="Depression">Depressed</option>
    <option value="Anxiety">Anxious</option>
    <option value="Freedom">Freedom</option>
    <option value="Privacy">Privacy</option>
    <option value="Honesty">Honesty</option>
    <option value="Ordinary">Ordinary</option>
    <option value="Sick">That's really sick!</option>
    <option value="Goddess-like">Goddess-like</option>
  </select>
</form>

  <br>
  <label for="name"> I, </label>
  <form action="/readings" method="GET">
  <select name="username" id="name">
    <%for(i in users){%>
    <option value="<%= i %>"><%= i %></option>
    <% } %>
  </select>
  <body>, hereby and forevermore choose to</body>
  <input type="submit" value="claim this future.">

</form>
</div>
</div>
<br>

<%- include('partials/footer') -%>
