<%- include('partials/header', {title:"Tarot"}) -%>

<h2>User info</h2>

<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Birthday
    </th>
    <th>
      Sun sign
    </th>
    <th>
      Moon sign
    </th>
    <th>
      Rising sign
    </th>
  </tr>
  <%for(i in users){%>
  <tr>
  <th>
    <%= i %>
  </th>
  <th>
    <%=users[i].birthday%>
  </th>
  <th>
    <%=users[i].sunSign%>
  </th>
  <th>
    <%=users[i].moonSign%>
  </th>
  <th>
    <%=users[i].risingSign%>
  </th>
  </tr>
  <%}%>
</table>

<br>

<h2>Tarot info</h2>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Photo
    </th>
    <th>
      Meaning
    </th>
    <th>
      Keywords
    </th>
    <th>
      Element
    </th>
    <th>
      Sign
    </th>
  </tr>
  <%for(i in tarotCards){%>
  <tr>
  <th>
    <%= i %>
  </th>
  <th>
    <img src = "<%=tarotCards[i].Photo%>" height="300">
  </th>
  <th>
    <%=tarotCards[i].Meaning%>
  </th>
  <th>
    <%=tarotCards[i].Keywords%>
  </th>
  <th>
    <%=tarotCards[i].Element%>
  </th>
  <th>
    <%=tarotCards[i].Sign%>
  </th>
  </tr>
  <%}%>
</table>

<br>
<%- include('partials/footer') -%>
