<%- include('partials/header', {title:"Tarot"}) -%>
<h2><%= randomCard %> Tarot Card Drawn!</h2>
   <img src = "<%=tarotCards[randomCard].Photo%>" height="300">
   <p> Meaning of <%= randomCard %>: <%=tarotCards[randomCard].Meaning%></p>
   <p> Keywords: <%=tarotCards[randomCard].Keywords%></p>
<br>

<form action="/tarot" method="POST">
  <label for="name"> I, </label>
  <select name="name" id="name">
    <%for(i in users){%>
    <option value="<%= i %>"><%= i %></option>
    <% } %>
  </select>
  <body>, hereby and forevermore choose to</body>
  <input type="submit" value="claim this future.">

</form>
<br>

<%- include('partials/footer') -%>
