<%- include('../partials/header', {title:"Horoscope"}) -%>
<h2> Your Daily Horoscope </h2>
<div id = "bigThree"
<p> Your daily horoscope is calculated based on your sun sign and the position of the planets.
  <br>
  Your sun sign is <%= data[user._json.email].sunSign %>.
  <br>
  Description: <%= horoscope["description"] %>
    <br>
  Mood: <%= horoscope["mood"] %>
    <br>
  Color: <%= horoscope["color"] %>
    <br>
  Lucky number: <%= horoscope["lucky_number"] %>
    <br>
  Lucky time: <%= horoscope["lucky_time"] %>
  <br>

</p>
</div>
<%- include('../partials/footer') -%>
